<!-- start custom head snippets -->

<title>Marker | Highlight the Web</title>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<style>
    a {
        color: #0169FF !important;
        font-weight: 400 !important;
    }
</style>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg" color="#0169ff">
<meta name="msapplication-TileColor" content="#0169ff">
<meta name="theme-color" content="#ffffff">
<script defer data-domain="marker.ink" src="https://plausible.io/js/plausible.js"></script>

<!-- end custom head snippets -->
