html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'GeneralSans', sans-serif !important;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.container canvas {
  left: 0;
  top: 5px;
  border: 0;
  width: 100%;
  height: 100%;
  outline: none;
  cursor: none;
}

.canvas-container {
  pointer-events: auto;
}

.upper-canvas {
  cursor: none !important;
}

#cursor {
  width: 12px;
  height: 12px;
  border: 1px solid #AEAEAE;
  border-radius: 50%;
  display: none;
  position: absolute;
}

#crosshair {
  display: none;
  position: absolute;
}

.controls {
  width: 83px;
  cursor: normal;
  display: none;
  position: fixed;
  top: 21px;
  right: 21px;
  border-radius: 12px;
  background: white;
  backdrop-filter: blur(40px);
}

.options {
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.item {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 10px;
}

.item:last-child {
  margin-bottom: 11px;
}

.item .title {
  font-size: 14px;
  font-weight: 490;
  text-align: center;
  width: 100%;
  margin-bottom: 12px;
  pointer-events: none;
  user-select: none;
}

#shrink {
  display: block;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
  padding: 3px 32px 6px 32px;
  margin: 4px;
  background: rgb(201 221 229 / 29%);
}

#shrink:hover {
  opacity: 0.9;
}

.toggle:checked ~ #shrink > svg {
  transform: rotate(180deg);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .collapsible-content {
  max-height: 350px;
}

.fixed {
  top: -1px;
  left: -40px;
  width: 38px;
  flex-flow: wrap;
  position: absolute;
}

.fixed button {
  opacity: 0.5;
  min-width: 38px;
}

.fixed button:hover {
  opacity: 0.7;
  background-color: #d8d8d8 !important;
}

input[type="range"] {
  margin: 0;
  padding: 0;
  width: 63px;
  height: 13px;
  cursor: pointer;
  margin-left: 5px;
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #DADADA;
  border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
  height: 13px;
  width: 13px;
  border-radius: 13px;
  background: black;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  margin-top: -6.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #DADADA;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #DADADA;
  border-radius: 2px;
}

input[type=range]::-moz-range-thumb {
  height: 13px;
  width: 13px;
  border-radius: 13px;
  background: black;
  cursor: pointer;
  margin-top: -6.5px;
  border: none;
}

.controls .options input[type="color"] {
  border: 0;
  margin: 0;
  padding: 1px;
  height: 32px;
  outline: none;
  cursor: pointer;
  max-width: 48px;
  box-sizing: border-box;
  vertical-align: middle;
}

.canvas-container, .canvas-container canvas {
  border: 0;
  outline: none;
  max-width: 100vw;
  height: 100vw !important;
}

html[context="popup"] .actions {left: 1px}
html[context="popup"] .toolbar {right: 1px}
html[context="popup"] #print {display: none}

html[context="page"] .close {
  left: 1px;
  display: block;
}

html[context="page"] .actions {
  top: 43px;
  left: 1px;
}

html[context="page"] .controls {
  box-shadow: 0 1px 14.8px #404B8E61;
}

html[context="webapp"] .toolbar {
  display: none;
}

html[context="webapp"] .controls {
  top: 1px;
  right: 1px;
  left: unset;
}

@media print {
  .toolbar, .controls, .actions, .close {
    display: none !important;
  }
  .canvas-container, .canvas-container canvas {
    border-bottom: none;
  }
}

.right-click {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  padding: 2vw;
  border-radius: 1vw;
  font-size: 2.4vw;
  background-color: #fff;
}

/* Context Menu */
.contextMenu {
  --menu-border: rgba(255, 255, 255, 0.08);
  --menu-bg: white;
  --item-border: rgba(255, 255, 255, 0.1);
  --item-color: #fff;
  --item-bg-hover: rgba(255, 255, 255, 0.1);
  height: 0;
  overflow: hidden;
  background: var(--menu-bg);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  position: fixed;
  top: var(--top);
  left: var(--left);
  -webkit-animation: menuAnimation 0.4s 0s both;
          animation: menuAnimation 0.4s 0s both;
  transform-origin: left;
  list-style: none;
  margin: 4px;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 999999999;
  box-shadow: 0 1px 14.8px #404B8E61;
}
.contextMenu-item {
  padding: 4px;
}
.contextMenu-item[data-divider=top] {
  border-top: 1px solid;
}
.contextMenu-item[data-divider=bottom] {
  border-bottom: 1px solid;
}
.contextMenu-item[data-divider=top-bottom] {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.contextMenu-item[data-divider] {
  border-color: var(--item-border);
}
.contextMenu-button {
  color: var(--item-color);
  background: 0;
  border: 0;
  white-space: nowrap;
  width: 100%;
  border-radius: 4px;
  padding: 6px 24px 6px 7px;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 100%;
  -webkit-animation: menuItemAnimation 0.2s 0s both;
          animation: menuItemAnimation 0.2s 0s both;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.contextMenu-button:hover {
  background-color: var(--item-bg-hover);
}
.contextMenu[data-theme=light] {
  --menu-bg: white;
  --menu-border: rgba(0, 0, 0, 0.08);
  --item-border: rgba(0, 0, 0, 0.1);
  --item-color: rgb(10, 20, 28);
  --item-bg-hover: rgba(10, 20, 28, 0.09);
}

@-webkit-keyframes menuAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    height: var(--height);
    opacity: 1;
    border-radius: 8px;
    transform: scale(1);
  }
}

@keyframes menuAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    height: var(--height);
    opacity: 1;
    border-radius: 8px;
    transform: scale(1);
  }
}
@-webkit-keyframes menuItemAnimation {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes menuItemAnimation {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.toast-container{ 
  position: absolute;
  left: 50%;
  transform: translate(-50%,calc(-100% - 50px));
  animation: none;
  z-index: 2147484647;
}

.toast-container.show {
  animation: show_toast 450ms ease forwards;
}

.toast-container.hide {
  animation: hide_toast 300ms ease forwards;
}

@keyframes show_toast {
  0%{
    transform: translate(-50%, calc(-100% - 50px));
  }
  100%{
    transform: translate(-50%, 17px);
  }
}
@keyframes hide_toast {
  0%{
    transform: translate(-50%, 17px);
  }
  100% {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, calc(-100% - 50px));
  }
}
.toast-container #toast{
  background: #fff;
  padding: 7px 20px;
  border-radius: 50%;
  box-shadow: 0 6px 32.8px #54566039, 0 3px 9px #282b3945;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
}
#toast .content{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
#toast .content .key{
  padding: 3px 7px;
  background: #444856;
  border-radius: 6px;
  color: #fff;
  font-size: 12px;
  margin: 0 4px;
}